.list {
    margin: 0 auto;
    width: 938px;
    margin-top: 20px;
}

.element {
    border: 1px solid transparent;
    margin-bottom: 20px;
}

.pagination {
    width: 400px;
    margin: 0 auto;
}

.spin {
    margin-top: 20px;
    text-align: center;
}
