$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-lg: $font-size-base + 2px;

$heading-color: rgba(0, 0, 0, 0.85);
$primary-color: #1890ff;
$info-color: #1890ff;
$success-color: #52c41a;
$processing-color: #1890ff;
$error-color: #f5222d;
$highlight-color: #f5222d;
$warning-color: #faad14;
$normal-color: #d9d9d9;
$disabled-color-dark: rgba(255, 255, 255, 0.35);
$background-color-base: #ffffff;
$background-color-body: #ebeef3;
$border-color-base: #d9d9d9;
$btn-primary-color: #ffffff;
$text-color-secondary: rgba(0, 0, 0, 0.5);

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin form-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 384px;
    margin: 0 auto;
    padding: 48px 32px;
    background-color: $background-color-base;
    border-radius: 5px;
}

@mixin form-account-title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 11px;
}

@mixin form-account-footer {
    font-size: $font-size-sm;
    color: #8c8c8c;
    padding: 10px 0;

    a {
        text-decoration: none;
        color: $primary-color;

        &:hover {
            text-decoration: underline;
        }
    }
}
